.app__header-info {
  flex: 0.65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;

  @media screen and (max-width: 2000px) {
    width: 100%;
    margin-right: 0rem;
  }
}

.app__header-badge {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  align-items: flex-end;
  flex-direction: column;

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    border: var(--white-color);
    color: white;
    background-color: white;
    border-radius: 15px;
    flex-direction: row;
    width: auto;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    .name-text {
      font-size: 2.75rem;
      font-weight: 800;
      text-align: center;
      color: var(--black-color);
      text-transform: capitalize;

      span {
        color: var(--secondary-color);
      }

      @media screen and (min-width: 2000px) {
        font-size: 4rem;
      }

      @media screen and (max-width: 450px) {
        font-size: 2rem;
      }
    }
  }

  .tag-cmp {
    flex-direction: column;
    margin: 3rem;

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }
  }

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
    align-items: flex-starts;
  }
}
